### Regression Model

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

##### Preparation

In [3]:
train=pd.read_csv('./input/train.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train['LotFrontage']=train['LotFrontage'].fillna(train['LotFrontage'].mean())

In [5]:
train=train.fillna('None')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

In [6]:
test=pd.read_csv('./input/test.csv')
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [7]:
test['LotFrontage']=test['LotFrontage'].fillna(test['LotFrontage'].mean())

In [8]:
test=test.fillna('None')
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,None,Reg,Lvl,AllPub,...,120,0,None,MnPrv,None,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,None,IR1,Lvl,AllPub,...,0,0,None,None,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,None,IR1,Lvl,AllPub,...,0,0,None,MnPrv,None,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,None,IR1,Lvl,AllPub,...,0,0,None,None,None,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,None,IR1,HLS,AllPub,...,144,0,None,None,None,0,1,2010,WD,Normal

In [9]:
testprice=pd.read_csv('./input/sample_submission.csv')
testprice.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [10]:
test['SalePrice']=testprice['SalePrice']

In [11]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,None,Reg,Lvl,AllPub,...,0,None,MnPrv,None,0,6,2010,WD,Normal,169277.052498
1,1462,20,RL,81.0,14267,Pave,None,IR1,Lvl,AllPub,...,0,None,None,Gar2,12500,6,2010,WD,Normal,187758.393989
2,1463,60,RL,74.0,13830,Pave,None,IR1,Lvl,AllPub,...,0,None,MnPrv,None,0,3,2010,WD,Normal,183583.683570
3,1464,60,RL,78.0,9978,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,6,2010,WD,Normal,179317.477511
4,1465,120,RL,43.0,5005,Pave,None,IR1,HLS,AllPub,...,0,None,None,None,0,1,2010,WD,Normal,150730.079977

In [12]:
data=pd.concat([train,test],axis=0)
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.000000,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500.000000
1,2,20,RL,80.000000,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500.000000
2,3,60,RL,68.000000,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500.000000
3,4,70,RL,60.000000,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000.000000
4,5,60,RL,84.000000,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000.000000
5,6,50,RL,85.000000,14115,Pave,None,IR1,Lvl,AllPub,...,0,None,MnPrv,Shed,700,10,2009,WD,Normal,143000.000000
6,7,20,RL,75.000000,10084,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,8,2007,WD,Normal,307000.000000
7,8,60,RL,70.049958,10382,Pave,None,IR1,Lvl,AllPub,...,0,None,None,Shed,350,11,2009,WD,Normal,200000.000000
8,9,50,RM,51.000000,6120,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,4,2008,WD,Abnorml,129900.000000
9,10,190,RL,50.000000,7420,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,1,2008,WD,Normal,118000.000000
10,11,20,RL,70.000000,11200,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,129500.000000
11,12,60,RL,85.000000,11924,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,7,2006,New,Partial,345000.000000
12,13,20,RL,70.049958,12968,Pave,None,IR2,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,144000.000000
13,14,20,RL,91.000000,10652,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,8,2007,New,Partial,279500.000000
14,15,20,RL,70.049958,10920,Pave,None,IR1,Lvl,AllPub,...,0,None,GdWo,None,0,5,2008,WD,Normal,157000.000000
15,16,45,RM,51.000000,6120,Pave,None,Reg,Lvl,AllPub,...,0,None,GdPrv,None,0,7,2007,WD,Normal,132000.000000
16,17,20,RL,70.049958,11241,Pave,None,IR1,Lvl,AllPub,...,0,None,None,Shed,700,3,2010,WD,Normal,149000.000000
17,18,90,RL,72.000000,10791,Pave,None,Reg,Lvl,AllPub,...,0,None,None,Shed,500,10,2006,WD,Normal,90000.000000
18,19,20,RL,66.000000,13695,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,6,2008,WD,Normal,159000.000000
19,20,20,RL,70.000000,7560,Pave,None,Reg,Lvl,AllPub,...,0,None,MnPrv,None,0,5,2009,COD,Abnorml,139000.000000
20,21,60,RL,101.000000,14215,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,11,2006,New,Partial,325300.000000
21,22,45,RM,57.000000,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,None,GdPrv,None,0,6,2007,WD,Normal,139400.000000
22,23,20,RL,75.000000,9742,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,230000.000000
23,24,120,RM,44.000000,4224,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,6,2007,WD,Normal,129900.000000
24,25,20,RL,70.049958,8246,Pave,None,IR1,Lvl,AllPub,...,0,None,MnPrv,None,0,5,2010,WD,Normal,154000.000000
25,26,20,RL,110.000000,14230,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,7,2009,WD,Normal,256300.000000
26,27,20,RL,60.000000,7200,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2010,WD,Normal,134800.000000
27,28,20,RL,98.000000,11478,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2010,WD,Normal,306000.000000
28,29,20,RL,47.000000,16321,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2006,WD,Normal,207500.000000
29,30,30,RM,60.000000,6324,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,5,2008,WD,Normal,68500.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,2890,30,RM,50.000000,7030,Pave,None,Reg,Lvl,AllPub,...,0,None,MnPrv,None,0,3,2006,WD,Normal,160515.850579
1430,2891,50,RM,75.000000,9060,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,4,2006,WD,Normal,192167.621096
1431,2892,30,C (all),69.000000,12366,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,10,2006,WD,Abnorml,178751.551083
1432,2893,190,C (all),50.000000,9000,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,10,2006,WD,Abnorml,198678.894117
1433,2894,50,C (all),60.000000,8520,Grvl,None,Reg,Bnk,AllPub,...,0,None,None,None,0,4,2006,WD,Normal,164553.120272
1434,2895,120,RM,41.000000,5748,Pave,None,IR1,HLS,AllPub,...,0,None,None,None,0,2,2006,New,Partial,156887.932862
1435,2896,120,RM,44.000000,3842,Pave,None,IR1,HLS,AllPub,...,0,None,None,None,0,12,2006,WD,Normal,164185.777306
1436,2897,20,RL,69.000000,23580,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2006,WD,Normal,212992.120631
1437,2898,90,RL,65.000000,8385,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,10,2006,WD,Normal,197468.550533
1438,2899,20,RL,70.000000,9116,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2006,WD,Normal,180106.843740
1439,2900,80,RL,140.000000,11080,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2006,WD,Normal,183972.071057
1440,2901,20,RL,68.580357,50102,Pave,None,IR1,Low,AllPub,...,0,None,None,None,0,3,2006,WD,Alloca,245283.198338
1441,2902,20,RL,68.580357,8098,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,10,2006,WD,Normal,170351.963411
1442,2903,20,RL,95.000000,13618,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,11,2006,New,Partial,195596.307707
1443,2904,20,RL,88.000000,11577,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,9,2006,New,Partial,189369.756330
1444,2905,20,None,125.000000,31250,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2006,WD,Normal,223667.404552
1445,2906,90,RM,78.000000,7020,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,11,2006,WD,Normal,169335.310624
1446,2907,160,RM,41.000000,2665,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2006,WD,Normal,167411.028352
1447,2908,20,RL,58.000000,10172,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,10,2006,WD,Normal,187709.555004
1448,2909,90,RL,68.580357,11836,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,3,2006,WD,Normal,196526.002999
1449,2910,180,RM,21.000000,1470,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,4,2006,WD,Normal,137402.569856
1450,2911,160,RM,21.000000,1484,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2006,WD,Normal,165086.775062
1451,2912,20,RL,80.000000,13384,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2006,WD,Normal,188506.431412
1452,2913,160,RM,21.000000,1533,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,12,2006,WD,Abnorml,172917.456816
1453,2914,160,RM,21.000000,1526,Pave,None,Reg,Lvl,AllPub,...,0,None,GdPrv,None,0,6,2006,WD,Normal,166274.325226
1454,2915,160,RM,21.000000,1936,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,6,2006,WD,Normal,167081.220949
1455,2916,160,RM,21.000000,1894,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,4,2006,WD,Abnorml,164788.778231
1456,2917,20,RL,160.000000,20000,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,9,2006,WD,Abnorml,219222.423400
1457,2918,85,RL,62.000000,10441,Pave,None,Reg,Lvl,AllPub,...,0,None,MnPrv,Shed,700,7,2006,WD,Normal,184924.279659
1458,2919,60,RL,74.000000,9627,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,11,2006,WD,Normal,187741.866657

In [13]:
data=pd.get_dummies(data)
data.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,...,SaleType_New,SaleType_None,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,856,854,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,1262,0,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,920,866,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,961,756,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,1145,1053,...,0,0,0,1,0,0,0,0,1,0

In [14]:
from sklearn.model_selection  import train_test_split
X=data.drop(columns=['SalePrice'])
y=data['SalePrice']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(2043, 4930) (876, 4930) (2043,) (876,)

In [15]:
X_train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,...,SaleType_New,SaleType_None,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
1448,1449,50,70.000000,11767,4,7,1910,2000,796,550,...,0,0,0,1,0,0,0,0,1,0
1397,1398,70,51.000000,6120,5,8,1920,2004,939,574,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.000000,9600,6,8,1976,1976,1262,0,...,0,0,0,1,0,0,0,0,1,0
384,385,60,70.049958,53107,6,5,1992,1992,1079,874,...,0,0,0,1,0,0,0,0,1,0
530,531,80,85.000000,10200,6,5,1988,1989,1509,0,...,0,0,0,1,1,0,0,0,0,0

In [16]:
X_test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,2ndFlrSF,...,SaleType_New,SaleType_None,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
355,1816,30,60.0,8520,5,8,1923,1950,792,0,...,0,0,0,1,0,0,0,0,1,0
1411,2872,30,60.0,8088,2,3,1922,1955,498,0,...,0,0,0,0,0,0,0,0,1,0
1232,1233,90,70.0,9842,4,5,1962,1962,1224,0,...,0,0,0,1,0,0,0,0,1,0
517,1978,60,112.0,16451,8,5,2003,2003,1804,886,...,0,0,0,1,0,0,0,0,1,0
22,23,20,75.0,9742,8,5,2002,2002,1795,0,...,0,0,0,1,0,0,0,0,1,0

In [17]:
y_train.head()

1448    112000.0
1397    137500.0
1       181500.0
384     240000.0
530     175000.0
Name: SalePrice, dtype: float64

In [18]:
y_test.head()

355     159650.304286
1411    148217.262541
1232    101800.000000
517     208232.716273
22      230000.000000
Name: SalePrice, dtype: float64

In [19]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [20]:
print('R2 for Train:', lm.score( X_train, y_train ))
print('R2 for Test:',lm.score(X_test, y_test))

R2 for Train: 0.9999853805830292
R2 for Test: -287598728.4923301